# Исключаем временные файлы
*.tmp
*.temp
*.txt

# Исключаем бинарные файлы (если не нужны)
*.exe
*.o
*.class

# Исключаем системные файлы
.DS_Store
Thumbs.db
*.json

# IDE files
*.cbp
*.depend
*.layout
*.workspace
*.pro
*.user
*.qmake.stash
*.idx


# Исключаем зависимости (для языков программирования)
node_modules/
venv/
__pycache__/
.idea
